    {% extends 'AppBundle::baseAdmin.html.twig' %}

    {% block body -%}
    <h1>Player creation</h1>

    {{ form(form) }}

        <ul class="list-inline">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_players.index') }}">
            <i class="fa fa-arrow-left"></i> Back to the list
        </a>
    </li>
        </ul>
    {% endblock %}
