<div class="bs-component">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">bliTZ</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">
                    <img src="{{ asset('bundles/app/img/logo-icon-1.svg') }}">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="active"><a href="#">
                            Link <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div>
                            <br>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a class="btn btn-primary" href="{{ url('fos_user_security_logout') }}">Logout</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ url('fos_user_security_login') }}">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>