$red: #E51C23
$white: #fff
$blue: #2196f3
$gray: #F3F0F0
$gray-dark: #666666

#myTabContent
  z-index: 10

.team-card
  margin: 15px 0
  background: $gray

.player-card
  background: $gray
  margin: 10px 0
  .img
    margin: 10px 0

.team-selection
  color: $gray
  min-height: 240px
  overflow: auto
  margin-left: -20px
  .player-card
    background: $blue
    color: $white
    h5
      color: $white

.connectedSortable
  padding-bottom: 10px